<section class="section is-medium section-about">
  <div class="container">
    <div class="section-header has-text-centered">
      <p class="title is-1 is-spaced">
        About Me
      </p>
    </div>
    <div class="about-me">
      <p class="is-size-3">
        I'm Hiemanshu Sharma, a full stack web developer and consultant from Bangalore, India.<br><br>

        I've been building and working on software for over 14 years now. Starting out as a Open Source Contributor for Fedora, to working on bringing CyanogenMod to different phones, to building phones from scratch, and now mobile and web development, I've been through the different worlds learning how to work with constraints, and how to make something feel really nice to use. Over the last few years I worked for OPEN full time as a Network Tech Consultant helping organisations around the world build, deploy, and support Progress Tech, tech that is helping bring social change.<br><br>

        I have experience working with different parts of the web and mobile stack and experiences with various languages including but not limited to Rails, React, NodeJS, Elixir. I also have experience working as Project Manager, an Architect, and Coach. <br>
        In my role as a Project Manager I have experience defining and implementing different processes and tools to make sure we build things efficiently and productivetly.<br>
        In my role as an Architect I have experience gathering requirements, talking to the users, and research based on current standards to define the project, the technologies, and maintenance plan.<br>
        In my role as a Coach I have experience coaching the decision makers how to make the best decisions, determine roadmaps, budget planning. I also have experience helping junior developers and campaigners upskill.
      </p>
    </div>
  </div>
</section>
<section class="section is-medium section-about">
  <div class="container">
    <div class="section-header has-text-centered">
      <p class="title is-1 is-spaced">
        What I do
      </p>
    </div>
    <div class="columns is-spaced">
      <div class="column has-text-centered" id="consult">
        <i class="fas fa-comments fa-10x"></i>
        <h1 class="title">Consult</h1>
        <h2 class="subtitle has-text-weight-medium">Not sure what the best way forward is? Need help figuring out the path forward? I'll help you implement processes, help hire, and plan for the future.</h2>
      </div>
      <div class="column has-text-centered" id="build">
        <i class="fas fa-terminal fa-10x"></i>
        <h1 class="title">Build</h1>
        <h2 class="subtitle has-text-weight-medium">Looking for someone to help build things from scratch? I'll help you figure out what you need and build it for you.</h2>
      </div>
      <div class="column has-text-centered" id="support">
        <i class="fas fa-ticket-alt fa-10x"></i>
        <h1 class="title">Support</h1>
        <h2 class="subtitle has-text-weight-medium">In a crunch moment and need some temporary capacity? I'll integrate into your team, and hit the ground running to increase capacity as smoothly as possible.</h2>
      </div>
      <div class="column has-text-centered" id="coach">
        <i class="fas fa-chalkboard-teacher fa-10x"></i>
        <h1 class="title">Coach</h1>
          <h2 class="subtitle has-text-weight-medium">Need someone to help learn how to use certain tools? What the most optimal ways to use a certain process? I'll help you learn, and design processes that work for your team sizes and structures</h2>
      </div>
    </div>
  </div>
</section>
