<section class="section is-medium section-about">
  <div class="container">
    <div class="section-header has-text-centered">
      <p class="title is-1 is-spaced">
        What I do
      </p>
    </div>
    <div class="columns is-spaced">
      <div class="column has-text-centered" id="consult">
        <i class="fas fa-comments fa-10x"></i>
        <h1 class="title">Consult</h1>
        <h2 class="subtitle has-text-weight-medium">Not sure what the best way forward is? Need help figuring out the path forward? I'll help you implement processes, help hire, and plan for the future.</h2>
      </div>
      <div class="column has-text-centered" id="build">
        <i class="fas fa-terminal fa-10x"></i>
        <h1 class="title">Build</h1>
        <h2 class="subtitle has-text-weight-medium">Looking for someone to help build things from scratch? I'll help you figure out what you need and build it for you.</h2>
      </div>
      <div class="column has-text-centered" id="support">
        <i class="fas fa-ticket-alt fa-10x"></i>
        <h1 class="title">Support</h1>
        <h2 class="subtitle has-text-weight-medium">In a crunch moment and need some temporary capacity? I'll integrate into your team, and hit the ground running to increase capacity as smoothly as possible.</h2>
      </div>
      <div class="column has-text-centered" id="coach">
        <i class="fas fa-chalkboard-teacher fa-10x"></i>
        <h1 class="title">Coach</h1>
          <h2 class="subtitle has-text-weight-medium">Need someone to help learn how to use certain tools? What the most optimal ways to use a certain process? I'll help you learn, and design processes that work for your team sizes and structures</h2>
      </div>
    </div>
  </div>
</section>
