<section class="section is-medium section-about">
  <div class="container">
    <div class="section-header has-text-centered">
      <p class="title is-1 is-spaced">
        About Me
      </p>
    </div>
    <div class="about-me">
      <p class="is-size-3">
        I'm Hiemanshu Sharma, a full stack web developer and consultant from Bangalore, India.<br><br>

        I've been building and working on software for over 14 years now. Starting out as a Open Source Contributor for Fedora, to building phones from scratch, and now mobile and web development. I've been through the different worlds learning how to work with constraints, and build useable, beautiful, and sustainable products. Over the last few years I've worked with different Digital Grassroots Campaigning Organisations around the world helping them build, deploy, and support Progressive Campaigning and Organising Tech, Tech that has helped bring social change.<br><br>
      </p>
    </div>
  </div>
</section>

<section class="section is-medium section-about has-background-dark">
  <div class="container">
    <div class="section-header has-text-centered">
      <p class="title is-1 is-spaced has-text-light">
        What I do
      </p>
    </div>

    <div class="columns is-spaced">
      <div class="column is-one-quarter has-text-light">
        <i class="fas fa-comments fa-10x"></i>
      </div>
      <div class="column">
        <h1 class="title has-text-light">Consult</h1>
        <h2 class="subtitle has-text-weight-medium has-text-light">
          Building tech is an important path, and defining the right goals, building the right thing and with the right assumptions another.<br />

          I have experience defining and adopting the processes the team needs to help them build the right things, and build them the right way.
        </h2>
      </div>
    </div>

    <div class="columns is-spaced">
      <div class="column is-one-quarter has-text-light">
        <i class="fas fa-terminal fa-10x"></i>
      </div>
      <div class="column">
        <h1 class="title has-text-light">Build</h1>
        <h2 class="subtitle has-text-weight-medium has-text-light">
          I have built, maintained and launched multiple products from scratch, working on the complete cycle of development, including architecting, designing, deployment stratergies.<br />

          My toolset includes Ruby on Rails, NodeJS, React, Docker and other technologies related to Server Management.
        </h2>
      </div>
    </div>

    <div class="columns is-spaced">
      <div class="column is-one-quarter has-text-light" >
        <i class="fas fa-ticket-alt fa-10x"></i>
      </div>
      <div class="column">
        <h1 class="title has-text-light">Support</h1>
        <h2 class="subtitle has-text-weight-medium has-text-light">
          I love jumping into projects that need temporary capacity, helping debug scaling issues and other developer support.<br />

          Discovering bottlenecks and rewriting some parts of the functionality in a language more suited to the use case is always a fun challenge.
        </h2>
      </div>
    </div>

    <div class="columns is-spaced">
      <div class="column is-one-quarter has-text-light" >
        <i class="fas fa-chalkboard-teacher fa-10x"></i>
      </div>
      <div class="column">
        <h1 class="title has-text-light">Coach</h1>
        <h2 class="subtitle has-text-weight-medium has-text-light">
          Coaching other developers and managers to help them learn and define process, upskill their team, and crack optimal usage patterns.<br />

          Not limited to just product building, I have also coached Tech Directors, and Project Managers on how to budget, roadmap, scale, and improve productivity.
        </h2>
      </div>
    </div>
  </div>
</section>
