<section class="hero is-dark is-fullheight video">
  <div class="hero-video is-transparent">
    <video class="header-video" poster="{{ "assets/videos/poster.jpg" | relative_url }}" playsinline autoplay muted loop>
      <source src="{{ "assets/videos/video.mp4" | relative_url }}" type="video/mp4">
    </video>
  </div>

  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Hello, I'm <span class="red">Hiemanshu Sharma</span><br>
      </h1>
      <h2 class="subtitle is-3">
        I'm a full-stack web developer. <br>Building progressive tech for digital activisim.
      </h2>
    </div>
  </div>
</section>
