<section class="section section-work has-background-white-ter">
  <div class="container">
    <div class="section-header has-text-centered">
      <p class="title is-1 is-spaced">
        Recent Work
      </p>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="{{ "assets/images/identity.png" | relative_url }}" alt="Identity">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-2">Identity</p>
              </div>
            </div>

            <div class="content is-large">
              Identity is a fully integrated blaster with multiple add-ons. Identity is a member data warehouse, with top notch segmentation and a/b/x testing built right in.
            </div>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="{{ "assets/images/spoke.png" | relative_url }}" alt="Spoke">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-2">Spoke</p>
              </div>
            </div>

            <div class="content is-large">
              Spoke is an open source text-distribution tool for organizations to mobilize supporters and members into action. Spoke is maintained by MoveOn.org
            </div>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="{{ "assets/images/dopaisa.png" | relative_url }}" alt="DoPaisa">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-2">DoPaisa</p>
              </div>
            </div>

            <div class="content is-large">
              DoPaisa is a payments processing microservice backend, letting you build the frontend! It handles recurring, has one click payments support, and a lot more.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
